<div style='text-align: center; padding: 5% 15% 5% 15%'>
  <p style='font-size: 20px; color: #333333'>
    Estamos felizes demais com a sua chegada. Mas antes, precisamos ter certeza que é você mesmo por
    trás desse e-mail.
  </p>
  <p style='font-size: 20px; color: #333333'>
    Clique no botão abaixo para confirmar seu e-mail!
  </p>
  <a
    style='
      background-color: #EA5D0B;
      border-radius: 50px;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      font-size: 15px;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    '
    href='{{url}}'
  >
    Confirme seu email
  </a>

</div>
<p>
  Att,
</p>
<p>
  {{company_name}}
</p>