<div style="text-align: center; padding: 5% 15% 5% 15%">
  <h1 style="color: #01323a">Recuperação de senha</h1>
  <p style="font-size: 20px; color: #333333">
    Olá
    {{name}}! Não se preocupe você está prestes a recuperar sua senha! Aqui está
    o seu link de recuperação. Basta clicar no botão abaixo
  </p>
  <a
    style="
      background-color: #EA5D0B;
      border-radius: 50px;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      font-size: 15px;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    "
    href="{{url}}"
  >
    Recuperar senha
  </a>

</div>
<p>
  Att,
</p>
<p>
  {{company_name}}
</p>